@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("User Search") {

<h2><Center>Imobi User Search Engine</Center></h2>


<ul>
    <br/>
    <br/>
    <center><input type ="text" id="search" value = "" size="200"></center>

    <br/>
    <br/> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <h5><i><center>user with  gender  female  and  age > 24  and  age < 24  who  visit SFO  AND  own iphone  having  click  less 20  (and)  impressions  greater 100  IN  last 3 day</center></i></h5>


    <script>
       $('#search').typeahead({
            name: 'accounts',
            remote: {
                url: '/query/%QUERY',
                filter: function (parsedResponse) {
                    // parsedResponse is the array returned from your backend
                    console.log(parsedResponse);

                    // do whatever processing you need here
                    return parsedResponse;
                }
            }

        });



    </script>
</ul>



}

