@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("User Search") {

<h2>User Search Engine</h2>

<ul>
    <input type ="text" id="search" value = "">
    <script>
       $('#search').typeahead({
            name: 'accounts',
            remote: '/query/%QUERY',
            filter:
                    function(resp) {
                        var dataset = [];
                        console.log(resp); // debug the response here

                        // do some filtering if needed with the response

                        return dataset;
                    }
        });



    </script>
</ul>



}

