@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("User Search") {

<h2>User Search Engine</h2>

<ul>
    <input type ="text" id="search" value = "">
    <script>
       $('#search').typeahead({
            name: 'accounts',
            remote: {
                url: '/query/%QUERY',
                filter: function (parsedResponse) {
                    // parsedResponse is the array returned from your backend
                    console.log(parsedResponse);

                    // do whatever processing you need here
                    return parsedResponse;
                }
            }

        });



    </script>
</ul>



}

